/* @import url("https://fonts.googleapis.com/family=Luckiest+Guy&display=swap"); */
/* @import url("https://fonts.googleapis.com/css?family=Ultra"); */

.errorMsgTopRated{
  margin-top: 10rem; 
  color: white; 
  font-size: 3rem;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.container-2{
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.toprated-wrapper{
  width: 100%;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.mb-5{
  margin-bottom: 2rem !important;
}
.ml-1{
  margin-left: 2.2rem !important;
}
.mt-4{
  margin-top: 0rem !important;
}
.jumbotoprated{
  margin-top: 2rem;
  font-weight: lighter;
  font-size: 3.5rem;
}
.lead-toprated{
  font-size: 1rem;
}

@media only screen and (max-width: 1300px) {
  .display-4 {
    font-size: 40px;
    font-weight: normal;
  }
  .lead {
    font-size: 16px;
  }
  body {
    padding-top: 90px;
  }
  .mr-2{
    margin-right: 0rem !important;
  }
  .ml-1{
    margin-left: 2.2rem !important;
  }
  .container-2{
    padding-left: 0rem !important;
  }
  .lead {
    font-size: 16px;
  }
  .mb-5{
    margin-bottom: 2rem !important;
  }
  .mt-4{
    margin-top: 0rem !important;
  }
}
@media only screen and (max-width: 1000px) {
  body {
    padding-top: 70px;
  }
  .display-4 {
    font-size: 40px;
    font-weight: normal;
  }
  .lead {
    font-size: 16px;
  }
  .mr-2{
    margin-right: 0rem !important;
  }
  .ml-1{
    margin-left: 1.7rem !important;
  }
  .container-2{
    padding-left: 0rem !important;
  }
  .lead {
    font-size: 16px;
  }
  .mb-5{
    margin-bottom: 2rem !important;
  }
  .mt-4{
    margin-top: 0rem !important;
  }
}

@media only screen and (max-width: 904px) {
  body {
    padding-top: 50px;
  }
  .display-4 {
    font-size: 25px;
    font-weight: normal;
  }
  .mr-2{
    margin-right: 0rem !important;
  }
  .ml-1{
    margin-left: 1.7rem !important;
  }
  .container-2{
    padding-left: 0rem !important;
  }
  .lead {
    font-size: 16px;
  }
  .mb-5{
    margin-bottom: 2rem !important;
  }
  .mt-4{
    margin-top: 0rem !important;
  }
}
@media only screen and (max-width: 765px) {
  body {
    padding-top: 50px;
  }
  .display-4 {
    font-size: 25px;
    font-weight: normal;
  }
  .mr-2{
    margin-right: 0rem !important;
  }
  .ml-1{
    margin-left: 5.5rem !important;
  }
  .container-2{
    padding-left: 0rem !important;
  }
  .lead {
    font-size: 16px;
  }
  .mb-5{
    margin-bottom: 2rem !important;
  }
  .mt-4{
    margin-top: 0rem !important;
  }
}
@media only screen and (max-width: 500px) {
  body {
    padding-top: 50px;
  }
  .display-4 {
    font-size: 25px;
    font-weight: normal;
  }
  .mr-2{
    margin-right: 2rem !important;
  }
  .ml-1{
    margin-left: 4rem !important;
  }
  .container-2{
    padding-left: 0rem !important;
  }
  .lead {
    font-size: 16px;
  }
  .mb-5{
    margin-bottom: 2rem !important;
  }
  .mt-4{
    margin-top: 0rem !important;
  }

}
@media only screen and (max-width: 375px) {
  body {
    padding-top: 50px;
  }
  .display-4 {
    font-size: 25px;
    font-weight: normal;
  }
  .mr-2{
    margin-right: 0rem !important;
  }
  .ml-1{
    margin-left: 1.7rem !important;
  }
  .container-2{
    padding-left: 0rem !important;
  }
  .lead {
    font-size: 16px;
  }
  .mb-5{
    margin-bottom: 2rem !important;
  }
  .mt-4{
    margin-top: 0rem !important;
  }
  } 

